<% provide :title, t(".title") %>
<% provide :base, t(".base") %>
<% provide :button_text,  t("users.new.create_user") %>
<h1><%= t ".signup" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render "form" %>
      <%= render "shared/error_messages" %>
    <% end %>
  </div>
</div>
